@model SinemaDunyasi.Models.Film
@{
    ViewData["Title"] = "Film Düzenle";
}
<div class="card shadow-sm border-warning">
    <div class="card-header bg-warning text-dark">
        <h4 class="mb-0">Film Bilgilerini Düzenle</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label asp-for="Ad" class="fw-bold">Film Adı</label>
                    <input asp-for="Ad" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Yonetmen" class="fw-bold">Yönetmen</label>
                    <input asp-for="Yonetmen" class="form-control" />
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Tur" class="fw-bold">Film Türü</label>
                    <input asp-for="Tur" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Yil" class="fw-bold">Yapım Yılı</label>
                    <input asp-for="Yil" class="form-control" type="number" />
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Puan" class="fw-bold">IMDB Puanı</label>
                    <input asp-for="Puan" class="form-control" type="number" step="0.1" />
                </div>
            </div>
            <div class="form-group mb-4">
                <label asp-for="AfisUrl" class="fw-bold">Afiş Görsel URL</label>
                <input asp-for="AfisUrl" class="form-control" />
            </div>
            <div class="form-group mb-4 form-check">
                <label class="form-check-label fw-bold">
                    <input class="form-check-input" asp-for="VizyondaMi" /> Vizyonda Mı?
                </label>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-warning text-dark fw-bold">
                    Bilgileri
                    Güncelle
                </button>
                <a asp-action="Index" class="btn btn-secondary ms-2">İptal Et</a>
            </div>
        </form>
    </div>
</div>

